*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
}
#cora{
    border-radius: 100%;
    border: 1px solid black;
    width: 3.5%;
    height: 3.5%;
    cursor: pointer;
    margin-top: 9px;
    filter: drop-shadow(2px 2px 2px red);
}
header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
    color: rgb(253, 0, 0);
    border-radius: 20px;
        filter: drop-shadow(2px 2px 2px red);
}
.container{
    width: 50%;
    margin: auto;
    margin-top: 15px;
}
.output{
    border: 3px solid green;
    border-radius: 15px;
    animation: anmo 4s infinite;
    color: rgb(255, 255, 255);
    min-height: 400px;
}
@keyframes anmo{
    0%{
        border: 3px solid green;
    }
    25%{
        border: 3px solid red;
    }
    50%{
        border: 3px solid rgb(255, 5, 222);
    }
    75%{
        border: 3px  solid goldenrod;
    }
    100%{
        border: 3px solid blue;
    }
}

.output #img{
    width: 60%;
    height: 60%;
    border: 2px solid goldenrod;
    border-radius: 20px;
    position: relative;
    left: 37%;
    margin-bottom: 15px;
    display: none;
}
#im{
    background: rgb(207, 205, 205);
    margin: 20px 20px;
    min-height: 40px;
    max-width: 60%;
    padding: 10px 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    font-size: 25px;
    font-weight: bold;
    display: none;
}
#chat{
    background: goldenrod;
    margin: 20px 20px;
    text-align: right;
    min-height: 40px;
    max-width: 60%;
    padding: 10px 7px;
    text-align: right;
    border-radius: 20px;
    color: black;
    font-size: 25px;
    border: 2px solid black;
    position: relative;
    left: 33%;
}
.input{
    display: flex;
    height: 40px;
    margin-top: 15px;

}
.input #text{
    width: 80%;
    height: 100%;
    margin: 2px 15px;
    border: none;
    outline: none;
    border-radius: 15px ;
    text-align: center;
    font-size: 25px;
    background: wheat;
}
.input #send{
    width: 15%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 15px ;
    text-align: center;
    font-size: 25px;
    background: goldenrod;
    cursor: pointer;
}
.input #send:hover{
    background: gold;
}

@media (max-width:780px){
    .container{
        width: 90%;
        font-size: 15px;
    }
    .output{
        width: 100%;
        font-size: 9px;
    }
    #chat{
      left:27% ; 
      max-width:60%
    }
    #cora{
        width: 44px;
        height: 44px;
    }
    .eqt span{
        display: block;
        margin: 5px 80px;
        width: 80px;
        position: relative;
       bottom: 120px;
    }
}
.eqt span{
    color: black;
    background: rgb(212, 207, 207);
    font-size: 25px;
    border: 2px solid black;
    border-radius:15px ;
    padding: 5px 5px;
    text-align: center;
    font-weight:bold ;
    cursor: pointer;
    width: 50%;

}
.eqt{
    text-align: center;
    position: relative;
    top: 220px;

}
.eqt span:hover{
    background: green;
}